<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Meeting_Organizer.Properties.Settings.SampeDBConnectionString"
            connectionString="Data Source=|DataDirectory|\SampeDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>